.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #06315c;
    width: 100%;
    padding: 0 10px;

    h1 {
        a {
            text-decoration: none;
            color: blueviolet;
        }
    }

    .input {
        position: relative;

        input {
            flex: 1;
            color: blueviolet;
            border: 1px solid blueviolet;
            height: 35px;
            padding: 0 0 0 10px;
            border-right: 0;
        }

        button {
            color: blueviolet;
            border: 1px solid blueviolet;
            height: 35px;
            border-left: 0;
        }
    }

    ul {
        display: inline-flex;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 10px;
            display: flex;
            align-items: center;

            a {
                color: white;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    .searchedResults {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        position: absolute;
        z-index: 1000;

        li {
            display: flex;
            align-items: center;
            cursor: pointer;

            a {
                cursor: pointer;
            }
        }
    }
}