<div class="footer mt-3">
    <ul>
        <li><a routerLink="/seller-auth">Become a Seller</a> </li>
        <li><a routerLink="/">Policies</a> </li>
        <li><a routerLink="/user-auth">Terms and conditions</a> </li>
        <li><a href="#">Help</a> </li>
        <li><a href="#">Center News</a> </li>
    </ul>
    <!-- Grid container -->
    <div class="pt-2">
        <!-- Section: Social media -->
        <section class="mb-2">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-dark" href="#!" role="button"
                data-mdb-ripple-color="dark"><fa-icon [icon]="faFacebookF"></fa-icon></a>

            <!-- Twitter -->
            <a class="btn btn-link btn-floating btn-lg text-dark" href="#!" role="button"
                data-mdb-ripple-color="dark"><fa-icon [icon]="faTwitter"></fa-icon></a>

            <!-- Google -->
            <a class="btn btn-link btn-floating btn-lg text-dark" href="#!" role="button"
                data-mdb-ripple-color="dark"><fa-icon [icon]="faGoogle"></fa-icon></a>

            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-dark" href="#!" role="button"
                data-mdb-ripple-color="dark"><fa-icon [icon]="faInstagram"></fa-icon></a>

            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-dark" href="#!" role="button"
                data-mdb-ripple-color="dark"><fa-icon [icon]="faLinkedin"></fa-icon></a>
            <!-- Github -->
            <!-- <a class="btn btn-link btn-floating btn-lg text-dark" href="#!" role="button"
                data-mdb-ripple-color="dark"><fa-icon [icon]="faEdit"></fa-icon></a> -->
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <p> &copy; 2022 E-comm Project</p>
</div>